@font-face {
    font-family: Alex;
    src: url(font/AlexBrush-Regular.ttf);
}
.a {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: oblique;
}
.b {
    text-align: right;
    text-decoration: line-through;
    text-indent: 50px;
    text-transform: uppercase;
}
.c p{
    background-color: blueviolet;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
}
.a2{
    border-radius: 25px;
    width: 60%;
    margin-left: 150px;
}
#zz h6 {
    background-color: red;
    font-family: "Anta", sans-serif;
    font-size: large;
    }
h3 {
        color: rgba(300, 20, 200, 0.4);
        letter-spacing: 6px;
        word-spacing: 8px;
        line-height: 42px;
    }
h4{
        font-family: "Anta", sans-serif;
    }
.ttt{
    color: blue;
    letter-spacing: normal;
    word-spacing: 10px;
    line-height: 40px;
    font-family: Alex;
    }
    