*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
    background-color:red;
}
.img-1 {
    width: 850px;
    height: 100px;
    background-image: url(images/doodles.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.img-1:hover {
    background-size: 150%;
}